In [2]:
import pandas as pd

In [3]:
dict_medidas = {
  "idade": [15,18,25,25,40,55,58,60,80], 
  "altura":[160,162,165,168,172,174,174,174,176]
  }

In [4]:
df_medidas = pd.DataFrame.from_dict(dict_medidas);

In [5]:
print(df_medidas)

   idade  altura
0     15     160
1     18     162
2     25     165
3     25     168
4     40     172
5     55     174
6     58     174
7     60     174
8     80     176

## Medidas Resumo

### Medidas de Posição

In [6]:
# Média
print(df_medidas["idade"].mean())
print(df_medidas["altura"].mean())

41.77777777777778
169.44444444444446

In [7]:
# Mediana
print(df_medidas["idade"].median())
print(df_medidas["altura"].median())

40.0
172.0

In [8]:
# Moda
print(df_medidas["idade"].mode())
print(df_medidas["altura"].mode())

0    25
Name: idade, dtype: int64
0    174
Name: altura, dtype: int64

### Medidas de Dispersão

In [9]:
# Variância
print(df_medidas["idade"].var())
print(df_medidas["altura"].var())

509.94444444444446
34.77777777777778

In [10]:
# Desvio Padrão
idade_std = df_medidas["idade"].std()
altura_std = df_medidas["altura"].std()

print(idade_std)
print(altura_std)

22.58194952709895
5.897268670984711

In [11]:
# Coeficiente de Variação
print(idade_std/df_medidas["idade"].mean() * 100) # 100 para transformar em porcentagem
print(idade_std/df_medidas["altura"].mean() * 100) # 100 para transformar em porcentagem

54.05253876167302
13.327052179927248

### Medidas de Forma

In [12]:
# Assimetria - Idade
print(df_medidas.idade.skew())

0.368108517895537

In [13]:
# Assimetria - Altura
print(df_medidas.altura.skew())

-0.598486996170113

In [14]:
# Curtose - Idade
print(df_medidas.idade.kurtosis())

-1.1344461075421046

In [15]:
# Curtose - Altura
print(df_medidas.altura.kurtosis())

-1.3372641199913002

In [16]:
# Obter medidas estatisticas
print(df_medidas.idade.describe())
print(df_medidas.altura.describe())

count     9.000000
mean     41.777778
std      22.581950
min      15.000000
25%      25.000000
50%      40.000000
75%      58.000000
max      80.000000
Name: idade, dtype: float64
count      9.000000
mean     169.444444
std        5.897269
min      160.000000
25%      165.000000
50%      172.000000
75%      174.000000
max      176.000000
Name: altura, dtype: float64

### Correlação de variáveis

In [20]:
# Correlação do dataframe, método de pearson
df_medidas.corr(method="pearson")

           idade    altura
idade   1.000000  0.931024
altura  0.931024  1.000000

In [21]:
# Correlação entre 2 variáveis
df_medidas.idade.corr(df_medidas.altura)

0.9310236045054339

In [22]:
# Corrlação do DataFrame, segundo Spearman
df_medidas.corr(method="spearman")

           idade    altura
idade   1.000000  0.978803
altura  0.978803  1.000000